body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
form {
  flex-grow: 1;
}
details {
  border-top: 1px solid var(--light-grey);
}
details:last-child {
  border-bottom: 1px solid var(--light-grey);
}
details > .input,
details > .select-menu {
  margin:0 4px 4px 4px;
}
summary {
  background-color: var(--white-grey);
  display: flex;
}
summary:focus {
  border: 0;
  outline: 1px solid var(--blue);
  outline-offset: -2px;
}
details[open] summary {
  margin-bottom: 4px;
}
summary::-webkit-details-marker {display: none; }
.elevationLayerName {
  flex-grow: 1;
}
.elevationLayerName input {
  background: none;
  color: var(--dark-grey)
}
.elevationLayerName input:hover {
  border-color: transparent;
  background: rgba(0,0,0,.05);
}
.elevationLayerName .icon {
  opacity: .5;
}
.button--delete {
  padding: 0;
  border: 0;
  margin: 0;
  width: 44px;
  background: transparent;
}
footer {
  flex-grow: 0;
  padding: var(--size-xxsmall) 0;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--size-xsmall);
  border-top: 1px solid var(--light-grey);
}
footer a {
  padding: 0 var(--size-xxsmall);
  color: var(--dark-grey);
  font-size: var(--font-size-small);
}
.hidden {
  display: none;
}
.flex-horizontal input {
  min-width: 50px;
}
.input--with-text .input__field {
  padding-left: 55px;
}
.input--with-text .label {
  width: 55px;
}
.input--with-text-medium .input__field {
  padding-left: 80px;
}
.input--with-text-medium .label {
  width: 80px;
}
.input .label {
  position: absolute;
  top: 0px;
  left: 0;
  height: var(--size-medium);
  z-index: 1;
}
input:invalid {
  border: 1px solid var(--red);
  outline: 1px solid var(--red);
  outline-offset: -2px;
}