/* Vars */
:root {
  /* COLORS */
  /* Accent */
  --red: #f24822;
  --blue-rgb: 24, 160, 251;
  --dark-grey: var(--black8);
  --medium-grey: rgba(0, 0, 0, .5);
  --lighter-grey: rgba(0, 0, 0, .3);
  --light-grey: var(--silver);
  --white-grey: #f9f9f9;
  /* Font sizes */
  --font-size-xsmall: 12px;
  --font-size-small: 13px;
  --font-size-large: 14px;
  --font-size-xlarge: 15px;
}